
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}


.exclusive-experience-container {
    text-align: center;
    margin: 50px;
  }
  
  .exclusive-experience-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #070E05;
text-align: center;
/* lg/Bold */
font-family: "DM Serif Display";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 126%; /* 60.48px */
letter-spacing: -0.96px;
  }
  
  .exclusive-experience-container p {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: #7B7B7B;
text-align: center;
/* Text md/Regular */
font-family: Lexend;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 150%; /* 24px */
letter-spacing: -0.32px;
  }
  
  .video-wrapper {
    position: relative;
    padding-top: 56.25%; 
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  

  @media (max-width: 767px) {
    .exclusive-experience-container {
      margin: 20px;
      
    }
  
    .exclusive-experience-container h1 {
      font-size: 1.8em;
      margin-bottom: 15px;
      font-size: 32px;
      line-height: 140%;
      text-align: left; 
    }
  
    .exclusive-experience-container p {
      font-size: 1em;
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 130%; 
      text-align: left; 
    }
  
    .video-wrapper {
      padding-top: 75%; 
    }
  }