
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.gallery-section {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    width: 100%;
 
    padding: 0;
  }
  
  .gallery-row {
    display: flex;
    flex-wrap: wrap;
    width: 37%;
    padding: 0;
  }
  
  .gallery-image {
    width: 50%;
    height: 50%;
    object-fit: cover;
  }
  
  .gallery-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #5F6E5B;
    color: white;
    width:26%;
    padding: 80px 40px;
    gap: 20px;
  }
  
  .center-image {
    width: 40%;
    height: auto;
    /* margin-bottom: 20px; */
  }
  
  .gallery-center h1 {
    color: #FFF;
    text-align: center;
    /* lg/Bold */
    font-family: "DM Serif Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 126%; /* 60.48px */
    letter-spacing: -0.96px;
  }
  
  .gallery-center button {
    display: flex;
    padding:  16px 24px;
    align-items: center;
    gap: 10px;
    color: #FFF;
text-align: center;
/* Text md/Regular */
font-family: Lexend;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 150%; /* 24px */
letter-spacing: -0.32px;
background: transparent;
border:  1px solid #FFF;
cursor: pointer;
margin-top: 38px;
}
  
  
   
  .gallery-center button:hover {
    background: #FFF;
    color: #5F6E5B;
    transition: ease-in 0.2s;
  } 



