@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.home {
  font-family: 'Lexend', sans-serif;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section {
  text-align: center;
  width: 100%;
  background-image: url("../../public/hero1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hero-section h1 {
  color: #FFF;
  text-align: center;
  width: 50%;
  font-family: "DM Serif Display";
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: -1.44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 190px;
}

.hero-section p {
  color: #FFF;
  text-align: center;
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 155%;
  letter-spacing: -0.36px;
  width: 48%;
  margin-bottom: 30px;
}

.book-now-button {
  display: flex;
  width: 180px;
  padding: 16px 24px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: #5F6E5B;
  border: 1px solid #5F6E5B;
  color: #FFF;
  text-align: center;
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: -0.32px;
  cursor: pointer;
}

.book-now-button:hover {
  background: #FFF;
  color: #5F6E5B;
  transition: ease-in 0.2s;
}

.availability-section {
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: center;
  gap: 48px;
  background: #FFF;
  box-shadow: 0px 32px 64px -12px rgba(0, 0, 0, 0.14);
  margin-top: -60px;
  width: 80%;
}

.availability-section div {
  flex: 1;
  text-align: center;
}

.availability-section label {
  display: block;
  color: #070E05;
  font-family: Lexend;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.4px;
}

.availability-section input {
  padding: 16px 18px;
  color: #7B7B7B;
  font-family: Lexend;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: -0.32px;
  cursor: pointer;
}

.check-availability-button {
  display: flex;
  padding: 16px 28px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: #5F6E5B;
  border: 1px solid #5F6E5B;
  color: #FFF;
  text-align: center;
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: -0.32px;
  margin-top: 37px;
  cursor: pointer;
}

.check-availability-button:hover {
  background: #FFF;
  color: #5F6E5B;
  transition: ease-in 0.2s;
}

.guests input {
  width: 85%;
  padding: 16px 28px;
}


@media (max-width: 767px) {
  .hero-container{
    width: 100%;
  }
  .hero-section h1 {
    font-size: 36px;
    width: 80%;
    line-height: 150%;
    margin-top: 80px;
  }

  .hero-section p {
    font-size: 16px;
    width: 90%;
  }

  .availability-section {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 90%;
    margin-top: -80px;
    width: 90%;
  }
  .availability-section input{
    width: 100%;
  }

  .availability-section div {
    width: 100%;
  }

  .check-availability-button {
    width: 100%;
  }

  .guests input {
    width: 100%;
  }
}
