
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.rooms-section {
  padding: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.rooms-container3{
  width: 1200px;
}

.rooms-header h1 {
  margin-bottom: 10px;
  margin-top: 20px;
  color: #070E05;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 126%;
  letter-spacing: -0.96px;
}

.rooms-header p {
  margin-bottom: 40px;
  color: #7B7B7B;
  text-align: center;
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: -0.32px;
}

.rooms-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.room-card {
  width: 100%;
}

.room-card img {
  width: 100%;
  height: auto;
}

.room-info {
  width: 100%;
  padding: 0px;
  text-align: left;
}

.room-info h2 {
  margin-bottom: 10px; 
  margin-top: 10px;
  color:  #070E05;
  font-family: Lexend;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 132%; /* 31.68px */
  letter-spacing: -0.48px;
}

.room-info p {
  width: 93%;
  margin-bottom: 10px; 
  color:  #070E05;
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 24px */
  letter-spacing: -0.32px;
}

.room-details1 {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  color: #7B7B7B;
  margin-bottom: 10px;
  width: 100%;
}

.room-detail1 {
  display: flex;
  align-items: center;
  margin-right: 10px;
 gap: 3px;
  color:  #676767;
/* Text md/Regular */
font-family: Lexend;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 150%; /* 24px */
letter-spacing: -0.32px;
}

.detail-icon1 {
  margin-right: 5px;
  width: 24px !important;
  height: 24px !important;
}

.room-price {
  font-size: 18px;
  margin-bottom: 10px;
}

.price-amount {
  color:#070E05;
/* xs/Medium */
font-family: Lexend;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 132%; /* 31.68px */
letter-spacing: -0.48px;
}

.price-per-night {
  color:  #070E05;
/* Text md/Regular */
font-family: Lexend;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 150%;
letter-spacing: -0.32px;
}

.room-button {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 0;
  color:  #5F6E5B;
text-align: center;
/* Text md/Regular */
font-family: Lexend;
font-size: 16px;
gap: 5px;
font-style: normal;
font-weight: 300;
line-height: 150%; /* 24px */
letter-spacing: -0.32px;
border:  1px solid #FFF;
transition: ease-in 0.2s;
}

.room-button img {
  width: 26px;
  height: 26px;
}

.room-button:hover {
  border: 1px solid #5F6E5B;
}
