
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}



  .room-detail3 {
    width: 100%;
    /* max-width: 800px; */
    margin: 40px auto;
    padding: 20px 0;
  }
  
  .room-features {
    margin-bottom: 20px;
  }
  
  .feature-item {
    display: flex;
    align-items: center;
    margin: 15px 0;
  }
  
  .feature-icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }
  
  .feature-text h3 {
    color:  #070E05;
/* Text md/Medium */
font-family: Lexend;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
letter-spacing: -0.32px;
margin-top: 10px;
  }
  .line{
    width: 65%;
    height: 1px;
    border: 1px solid #DFDFDF;
  }
  .feature-text>p {
    width: 100%;
    color:  #7B7B7B;
/* Text sm/Regular */
font-family: Lexend;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 140%; /* 19.6px */
letter-spacing: -0.28px;
margin-top: 5px;
 }
  
  .room-amenities {
    margin-top: 20px;
    
  }
   #showButton{
    display: flex;
    padding:  12px  20px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid  #5F6E5B;
    background: transparent;
    color:  #5F6E5B;
text-align: center;
/* Text md/Regular */
font-family: Lexend;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 150%; /* 24px */
letter-spacing: -0.32px;
cursor: pointer;
margin: 25px 0 ;
}

#showButton:hover{
   color: #FFF;
   background: #5F6E5B;
   transition: ease-in 0.2s;
}
  #roomH2{
    color:  #070E05;
    /* xs/Bold */
    font-family: Lexend;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 132%; /* 31.68px */
    letter-spacing: -0.48px;
  }
  
  .room-amenities h2 {
    margin-bottom: 16px;
    color:  #070E05;
/* Text md/Regular */
font-family: Lexend;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 150%; /* 24px */
letter-spacing: -0.32px;
  }
  
  .room-amenities ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    width: 30%;
  }
  
  .amenity-item {
    display: flex;
    align-items: center;
    width: 50%;
    margin-bottom: 20px;
  }
  
  .amenity-icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }
  