/* 
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.room-detail {
  width: 100%;
  margin: 40px auto;
  padding: 40px; 
}

.room-images {
  display: flex;
  gap: 18px; 
  margin-bottom: 20px;
}

.main-image {
  flex: 2; 
  width: 100%;
  height: auto;
}

.thumbnail-images {
  display: flex;
  flex-direction: column; 
  gap: 18px;
  flex: 1; 
}

.thumbnail {
  width: 100%;
}

.room-details {
  display: flex;
  margin-bottom: 20px;
  font-size: 1.1em;
  color: #555;
  width:30%;
}

.room-detail-item {
  display: flex;
  margin-right: 20px; 
}

.detail-icon {
  margin-right: 5px;
  width: 24px;
  height: 24px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #333;
}

#room-descriptionP {
  color:  #070E05;
font-family: Lexend;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 150%; 
letter-spacing: -0.32px;
width: 63%;
} */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.room-detail {
  width: 100%;
  max-width: 1380px;
  margin: 40px auto;
  padding: 40px; 
}

.room-images {
  display: flex;
  gap: 18px; 
  margin-bottom: 20px;
}

.main-image {
  flex: 2;
  width: 100%;
  height: auto;
}

.thumbnail-images {
  display: flex;
  flex-direction: column;
  gap: 18px;
  flex: 1;
}

.thumbnail {
  width: 100%;
}
