
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

  
  .reviews {
    width: 100%;
    margin: 0 auto; 
  }
  
  #Customer {
    margin-top: -50px;
    margin-bottom: 30px;
  }
  
  .review2 {
    width:900px;
    display: flex;
    flex-direction: column;
    gap: 15px;
   
  }
  .line2{
    width: 90%;
    height: 1px;
    border: 1px solid #DFDFDF;
    margin: 20px 0;
  }
  .review-header {
    display: flex;
    align-items: center;
  }
  
  .review-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    object-fit: cover;
  }
  
  #nameId {
    color:  #070E05;
/* Text md/Bold */
font-family: Lexend;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 24px */
letter-spacing: -0.32px;
}
  .stars {
    font-size: 24px;
    color: #FACC15;
  }
  
  #reviewH4 {
    margin: 10px 0;
    color: #070E05;
font-family: Lexend;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 24px */
letter-spacing: -0.32px;
}
  #reviewP {
    margin: 0;
    color:  #070E05;
/* Text md/Regular */
font-family: Lexend;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 150%; /* 24px */
letter-spacing: -0.32px;
width: 88%;
}
  