@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App3 {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: auto;
  gap: 117px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.suite-info {
  width: 65%;
}

.booking-summary {
  width: 28%;
}

#title7 {
  color: #070E05;
  font-family: "DM Serif Display";
  font-size: 48px;
  font-weight: 400;
  line-height: 126%;
  letter-spacing: -0.96px;
}

.suite-details {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: flex-start;
}

.suite-detail {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

#details7 {
  color: #676767;
  font-family: Lexend;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: -0.32px;
}

#description7 {
  color: #070E05;
  font-family: Lexend;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: -0.32px;
}

#title8 {
  color: #070E05;
  font-family: Lexend;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.32px;
}

#description8 {
  color: #7B7B7B;
  font-family: Lexend;
  font-size: 14px;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: -0.28px;
}

#feature1 {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

#icons8 {
  width: 30px;
  height: 30px;
  margin: 0 10px 0 0;
}

.line3 {
  height: 1px;
  width: 98%;
  border: 1px solid #DFDFDF;
  margin: 20px 0;
}

#title9 {
  color: #070E05;
  font-family: Lexend;
  font-size: 24px;
  font-weight: 700;
  line-height: 132%;
  letter-spacing: -0.48px;
  margin: 13px 0 11px 0;
}

#icons9 {
  width: 30px;
  height: 30px;
}

#details9 {
  color: #070E05;
  font-family: Lexend;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: -0.32px;
}

.suite-features li,
.suite-amenities li {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.suite-amenities {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
}
#amenity1{
  display: flex;
  gap: 7px;
}
#showButton3 {
  padding: 12px 20px;
  cursor: pointer;
  background: #FFF;
  border: 1px solid #5F6E5B;
  color: #5F6E5B;
  text-align: center;
  font-family: Lexend;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: -0.32px;
  margin: 10px 0;
}

#showButton3:hover {
  background-color: #5F6E5B;
  color: #FFF;
  transition: ease-in 0.2s;
}

.booking-summary {
  padding: 20px;
  background: #FFF;
  box-shadow: 0px 32px 64px -12px rgba(0, 0, 0, 0.14);
  height: 93vh;
  gap: 10px;
}

.booking-summary h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.booking-summary form {
  display: grid;
  gap: 10px;
  margin-bottom: 20px;
}

.booking-summary form .form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.booking-summary form label {
  flex: 1;
  margin: 0 5px;
}

.booking-summary form input,
.booking-summary form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #DFDFDF;
  color:  #070E05;
font-family: Lexend;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 150%; /* 24px */
letter-spacing: -0.32px;
}

#bookButton2 {
  padding: 15px;
  background-color: #5F6E5B;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-family: Lexend;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: -0.32px;
  border: 1px solid #5F6E5B;
  margin: 0 4px;
}

#bookButton2:hover {
  background: #FFF;
  color: #5F6E5B;
  transition: ease-in 0.2s;
}

.price-unit {
  color: #070E05;
  font-family: Lexend;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: -0.32px;
}


.price-item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
.price-details {
  margin: 0 4px;
}
.discount {
color:  #22C55E;
text-align: right;
font-family: Lexend;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 150%; /* 24px */
letter-spacing: -0.32px;
}

.line5 {
  height: 1px;
  width: 100%;
  border: 1px solid #DFDFDF;
}

#labels1 {
  color: #070E05;
  font-family: Lexend;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: -0.32px;
}

#selects3 {
  outline: none;
}

#title10{
  color:  #070E05;
font-family: Lexend;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 150%; /* 24px */
letter-spacing: -0.32px;
}
.total{
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

#title11{
color:  #070E05;
text-align: right;
/* Text lg/Bold */
font-family: Lexend;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 155%; /* 27.9px */
letter-spacing: -0.36px;
}
