
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

  
  .container1 {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    padding: 20px;
    margin: auto;
    width: 100%;
    /* height: 90vh; */
    gap: 72px;
  }
  
  .image-container1 {
    display: flex;
    gap: 20px;
    width: 50%;
  }
  
  .image1 {
    width: 45%;
    height: auto;
  }
  
  .image2 {
    width: 55%;
    height: auto;
  }
  
  .text-container1 {
     width: 50%;
  }
  
  .text-container1 h2 {
    font-size: 2em;
    margin-bottom: 20px;
    width: 50%;
    color: #070E05;
/* lg/Bold */
font-family: "DM Serif Display";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 126%; /* 60.48px */
letter-spacing: -0.96px;
  }
  
  .text-container1 p {
    width: 85%;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 20px;

    color: #7B7B7B;
/* Text md/Regular */
font-family: Lexend;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 150%; /* 24px */
letter-spacing: -0.32px;
  }
  
  .explore-button1 {
    display: flex;
width: 30%;
align-items: flex-start;
align-items: center;
justify-content: center;
padding: 8px;
gap: 5px;
background: transparent;
color:  #5F6E5B;
text-align: center;
/* Text md/Regular */
font-family: Lexend;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 150%; /* 24px */
letter-spacing: -0.32px;
border: 1px solid #5F6E5B;
cursor: pointer;
}
  
  .explore-button1:hover {
    background-color: #5F6E5B;
    color: #FFF;
    transition: ease-in 0.2s;
  }
  
  @media (max-width: 768px) {
    .container1 {
      flex-direction: column;
      align-items: center;
    }
  
    .image-container1 {
      flex-direction: column;
    }
  
    .image1 {
      width: 100%;
    }
    .image2 {
      width: 100%;
    }
  
    .text-container1 {
      text-align: center;
    }
  }
  